/* Flexbox */
.sec1{      /* når du bruker punktum "." så framkaller du en class */
    display:flex;
    justify-content: center;
    align-items: flex-end;
    background-color: orange;
    height: 100px; /* tidligere var 7.25rem */
    gap: 0.75rem;

}

/* Flex-items */
div{
    background-color: darkgreen;


    color: white;
}
.elem1{     /* punktum "." fremkaller en class */
    flex: 1;
}
.elem2{
    flex: 2;
}
.elem3{
    flex: 7;
}