.sec1{
    height: 68vh;
    background-color: black;
    display: flex;
}
article{
    background-size: cover;
    background-position: center;
    flex: 1;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 50%;
    transition: 1s;
}
article:hover{
    flex: 3;
    font-size: 130%;
}
.en{
    background-image: url("sanchez.jpg");


}
.to{
    background-image: url("joeLouis.jpg");


}
.tre{
    background-image: url("sugar.jpg");


}